<h1> Latest Place </h1>


<div>

	<% if @place.present? %>

	Title: <%=  @place.title  %>
	<br />
	Address: <%=  @place.address  %>

 <script src="//maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyDzleZt1Cn-Ha1cn19cC8LOKVFueX_iYB4"
            type="text/javascript"></script>

  <script type="text/javascript">
    
    $ (function() {

    	$( window ).unload(function() {
  		GUnload(); 
  		});

      if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map_canvas"));
        map.setCenter(new GLatLng(37.4419, -122.1419), 13);
 
        
          var point = new GLatLng(37.4419, -122.1419);
          map.addOverlay(new GMarker(point));


      }
    });

    </script>

     <div id="map_canvas" style="width: 500px; height: 300px"></div>


	<% else %>

	<h2> Enter a place, because we don't have any </h2>
	<% end %>

</div>